*{
    box-sizing: border-box;
  }

/* Added office photo background */  
body {
    background: url(Assets/chairs-conference-room-corporate-indoors-236730.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

/* Added photo to jumbotron at top of screen - computer photo */
.jumbotron {
    background-image: url(Assets/black-and-gray-laptop-computer-turned-on-doing-computer-1181271.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* Font for "Daily Planner" */
.display-3 {
    font-family: 'Lakki Reddy', cursive;
}

/* Font for An Easy to use event planner */
.lead {
    display: block;
    position: absolute;
    top: 15%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Redressed', cursive;
    font-size: 30px;
}

/* Container holding the time blocks */

.container {
    padding-top: 7rem;
}

/* Text area where user can write in events for that time block */
textarea{
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;
  }

/* Jumbotron - text area */
  .jumbotron {
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    
  }
  
  
  .description{
    white-space: pre-wrap;
  }
 
 /* Time-blocks 7am - 6pm - Military Time */ 
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
 
/* Time-block rows around text area */  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 2px solid black;;
  }
 
/* Background for time blocks  */  
  .hour {
    background: transparent;
    color: black;
    padding-top: 10px;
  }
 
/* Past time slots will appear grey */  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
 
/* Present time slots will appear in red */  
  .present {
    background-color: #ff6961;
    color: white;
  }
/* Future events appear in green */  
  .future {
    background-color: #77dd77;
    color: white;
  }

/* Color, position, and size of save button */  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: dodgerblue;
    color: white;
  }
/* Mouse pointer hover over save btn, it grows in size, turns black */
  .saveBtn i:hover {
    font-size: 25px;
    transition: all .2s ease-in-out;
  }