body {
    background: url(Assets/chairs-conference-room-corporate-indoors-236730.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.jumbotron {
    background-image: url(Assets/black-and-gray-laptop-computer-turned-on-doing-computer-1181271.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.display-3 {
    font-family: 'Lakki Reddy', cursive;
}

.lead {
    display: block;
    position: absolute;
    top: 17%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Redressed', cursive;
    font-size: 30px;

}

